
  .postWrapper{
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 1fr;
    gap: 0px 0px
  }
  .voting { 
      grid-area: 1 / 1 / 2 / 3;
      padding: 20px;
     }
.content { grid-area: 1 / 2 / 2 / 3 }